
@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="row">*@
@*<div class="col-lg-6" style="background-color: floralwhite;">*@
    <h2>About Me</h2>
    <div id="view">
        <h3 style="text-align: center;">Some Background</h3>
        <div id="view">
            My name is Michael Krimm, or just Mike, and I'm from Meade county Kentucky. I grew up surrounded by nature and the woods and I have a strong appreciation
            of the outdoors. I come from a large family; myself, my younger brother and 3 older sisters. Oh, and we have a few amazing dogs, Bubba and Zeus.
            <h4>Hobbies</h4>

            Hiking, painting, and drawing are a few of my favorite hobbies. I love being creative and finding new and cool outlets in which I can express myself.
            I have to say my favorite medium of expression is through my art. Something about being able to pick up a pen or brush and create something truly original is just awesome.
            I've never taken an art lesson outside of the stuff from school, so I'm completely self taught, and I have to say I don't think I'm terrible.

            <h4>Education</h4>

            I graduated from Meade County Highschool in 2015 and started my college career shortly thereafter at the University of Louisville. UofL always seemed like a very

            <h4>Career</h4>

            I chose my major in Computer Information Systems because I saw it as a way for me to make an impact in today's world. More and more aspects
            of our daily lives are being impacted by technology with all its positives and negatives, so having a knowledge base that allows me to better understand
            and grapple with the challenges we're going to face will benefit not only me, but many others in my life. Currently, I'm trying to gain as much experience as
            I can to become a more well rounded developer and so that I can contribute more with my work. If you're interested in some of my experience, check out
            my resume, posted in a link below, for a quick overview.

            <div class="container" id="#view">
                 <a href="https://drive.google.com/file/d/12FmoNDSBK1ata6Y_t--W9wvhIHCbpW04/preview"><img src="~/Content/Pictures/resume pic 2.PNG" id="view" /></a>
            </div>

    </div>
</div>
@*</div>*@
@*</div>*@

<div id="particles-js"></div>
<script src="~/Scripts/particles.js"></script>


@*<iframe src="https://drive.google.com/file/d/12FmoNDSBK1ata6Y_t--W9wvhIHCbpW04/preview" width="640" height="480"></iframe>">*@

