
@{
    ViewBag.Title = "Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 id="h2-head">Contact Me</h2>
<div class="panel-body">
    After viewing this site, I hope you got to know a little more about me. If you would like to reach out to me, there are various ways in which you can do so.
    Here's a list of ways for us to get in contact. Thanks
    <h3>Email</h3>
    <div>
        Shoot me an email at michaelhenrykrimm@gmail.com
    </div>
    <h3>Get in touch with me!</h3>
    <div><a href="https://www.linkedin.com/in/michael-h-krimm96">LinkedIn - 
<img src="~/Content/Pictures/linkedin2.PNG" /></a></div>
    <div></div>
</div>
<div id="particles-js"></div>
<script src="~/Scripts/particles.js"></script>
@*@System.Web.Optimization.Scripts.Render("~/bundles/particles")*@



