
@{
    ViewBag.Title = "Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 id="h2-head">Contact Me</h2>
<div class="panel-body">
    After viewing this site, I hope you got to know a little more about me. If you would like to reach out to me, there are various ways in which you can do so.
    Here's a list of ways for us to get in contact. Thanks
    <h3>Email</h3>
    <div>
        Shoot me an email at michaelhenrykrimm@gmail.com
    </div>
    <h3>Check out some of my projects and LinkedIn</h3>
    <div>
        <a href="https://www.linkedin.com/in/michael-h-krimm96">
            LinkedIn -
            <img src="~/Content/Pictures/Logo-2C-21px-R.png" />
        </a>
    </div>
    <div>
        <a href="https://github.com/mhkrim01/Personal-Website.git">
            gitHub -
            <img src="~/Content/Pictures/GitHub-Mark-32px.png" />
        </a>
    </div>
</div>




