
@{
    ViewBag.Title = "Home";
}

@*<div class="container" id="gallery-container">
        <h1 id="gallery-heading">If you want,<span>here's some of my artwork to browse through!</span></h1>
        <div id="gallery">
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170424_021301.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170503_194606.jpg" />
            </div>
            <div id="gallery-item" style="transform: rotate(-90deg);">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170504_173505.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170623_170343.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170718_171106.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20171009_041340.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20180501_211049.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170817_153848.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170721_165805.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170720_180204.jpg" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="~/Content/Pictures/20170421_172754.jpg" />
            </div>
        </div>
    </div>*@
<h3 id="h3-statement">
    “A man traveling across a field encountered a tiger. He fled, the tiger after him. Coming to a precipice, he caught hold of the root of a wild vine and swung himself down over the edge. The tiger sniffed at him from above. Trembling, the man looked down to where, far below, another tiger was waiting to eat him. Only the vine sustained him.
    <br /> <br />
    Two mice, one white and one black, little by little started to gnaw away the vine. The man saw a luscious strawberry near him. Grasping the vine with one hand, he plucked the strawberry with the other. How sweet it tasted! ”
    ― Gautama Buddha, The Dhammapada: Verses on the Way
</h3>

<h1 id="gallery-heading">
    Here's some artwork of mine to browse through. I've always enjoyed expressing myself
    through art, and challenging myself to see what kind of new piece I can create. I hope you enjoy looking through these!
</h1>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
    </ol>

    <div class="carousel-inner" id="carousel">

        <div class="item active">
            <img src="~/Content/Pictures/20170421_172754.jpg" style="transform: scale(.8) rotate(90deg);" alt="Cool bird thing" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170424_021301.jpg" id="div-gallery-big-image" style="transform: scale(.8) rotate(90deg);" alt="My brain" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170503_194606.jpg" style="transform: scale(.8) rotate(90deg);" alt="spaceman" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170504_173505.jpg" class="img-responsive" style="transform: scale(.8);" alt="star ship enterprise" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170623_170343.jpg" style="transform: scale(.8) rotate(90deg);" alt="me" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170718_171106.jpg" style="transform: scale(.8) rotate(90deg);" alt="bear" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170720_180204.jpg" style="transform: scale(.8) rotate(90deg);" alt="dog" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170721_165805.jpg" style="transform: scale(.8) rotate(90deg);" alt="me again" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20171009_041340.jpg" style="transform: scale(.8)" alt="flowers" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/Content/Pictures/20170817_153848.jpg" style="transform: scale(.8) rotate(90deg);" alt="me again" class="img-responsive" />
        </div>

    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

