
<footer class="footer">
    <div class="container">
            <a href="https://www.linkedin.com/in/michael-h-krimm96">
                <img src="~/Content/Pictures/Logo-White-21px-R.png" />
            </a>
            <a href="https://github.com/mhkrim01/Personal-Website.git">
                <img src="~/Content/Pictures/GitHub-Mark-Light-32px.png" />
            </a>
            <h6 style="color: white;">@DateTime.Today.ToLongDateString()</h6>
    </div>
</footer>