
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <a href="https://www.linkedin.com/in/michael-h-krimm96">
                <img src="~/Content/Pictures/Logo-White-21px-R.png" />
            </a>  
<a href="https://github.com/mhkrim01/Personal-Website.git">
    <img src="~/Content/Pictures/GitHub-Mark-Light-32px.png" />
</a>
        </span>
    </div>
</footer>