canvas {
    background-color: floralwhite;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    left: 0;
    top: 0;
}
body{
    margin: 0;
    padding: 0;
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}
