@{
    ViewBag.Title = "Poop, Server Error!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 id="h2-head">Server Error</h2>
<div class="panel-body">
    <h1>Crap! Something happened server side and we aren't sure what!</h1>
    <div id="view">
        It's super disheartening when things like these happen. The worst thing a person can do those is have a freakout
        and cry.... please don't do that....People look kind of gross when they cry....Not saying you look gross...
        Anywho, why don't you get up and dance like there's no tomorrow, these peeps are.
    </div>

    <div class="container" id="gallery-container">
        <h1 id="gallery-heading">
            *Cue music* *Dim lights* *..DRAMATIC PAUSE..* *Cough* Ah we can dance if we want to, we can leave your friends behind
            Cause your friends don't dance and if they don't dance
            Well they're are no friends of mine
        </h1>
        <div id="gallery">
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="https://media1.tenor.com/images/b5a9f1e9bf32dcb5d338c3fadead5e3e/tenor.gif?itemid=5785816" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="https://media.giphy.com/media/v4aN9JGFL62dO/giphy.gif" alt="George Bush Dancing GIF" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="https://media1.giphy.com/media/dchERAZ73GvOE/giphy.gif" alt="monkey dancing GIF" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="https://media3.giphy.com/media/JJGUejl0pLcRy/giphy.gif" alt="napoleon dynamite happy dance GIF" />
            </div>
            <div id="gallery-item">
                <img id="div-gallery-big-image" src="https://media2.giphy.com/media/ZdFxoPhIS4glG/giphy.gif" alt="excited dance party GIF" />
            </div>
            <div id="gallery-item">
                <img src="https://media3.giphy.com/media/jd6TVgsph6w7e/giphy.gif" alt="star wars dancing GIF by Cheezburger" id="div-gallery-big-image"/>
            </div>
        </div>
        </div>

</div>

@section pagescripts{}<!--no page specific scripts to render-->
