@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oh F%#K! Not a 404 :'(</title>
</head>
<body>
    <div>
        <h2>404's suck!</h2>
        <div>
            But, they are a part of life. Unfortunately for you, you encountered one...loser...
            Enjoy this song by kendrick lamar about syrup sandwiches. 
            Or you could just go home
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-mPw174m0VE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>
</body>
</html>
